##zadanie1
iris
zan1=list(mean(iris$Sepal.Length), mean(iris$Sepal.Width), mean(iris$Petal.Length), mean(iris$Petal.Width))
zan1
names(zan1) = c("Длина чашелистика", "Ширина чашелистика", "Длина лепестков", "Ширина лепестков")
zan1
str(zan1)
summary(zan1)
mode(zan1)

##zadanie2
iris
z=iris
z
z$Species=NULL
z
z[1,1:4]
sum(z[1,1:4])
sum(z[1,1:4])/4
y=0
for(i in 1:150)
{x=sum(z[i,1:4])/4
y=c(x,y)}


##zad3
DNA= c("A","C","G", "T")
DNA=sample(DNA, size = 1000, replace = T); DNA
DNA=factor(DNA)
DNA
summary(DNA)
length(DNA)
dna_AT=c(summary(DNA))
dna_AT=dna_AT[c("A","T")]
dna_AT
y=dna_AT/1000
y
dna_at=c(dna_AT, y)
dna_at

##zad5
iris
x=iris
x$Sepal.Length=NULL
x$Sepal.Width=NULL
x$Petal.Width=NULL
x[1: 50, 1]
mean(x[1: 50, 1])
setosa=mean(x[1: 50, 1])
setosa
versicolor=mean(x[51:100, 1])
versicolor
virginica=mean(x[101:150, 1])
virginica
spec=c(setosa,versicolor,virginica)
spec
names(spec)=c("setosa","versicolor","virginica")
spec
sort(spec)
levels(iris$Species)=names(sort(tapply(iris$Petal.Length, iris$Species, mean)))
names(sort(tapply(iris$Petal.Length, iris$Species, mean)))

##zad6
x=c(21,34,-1,-10,0,38,19,2,-13)
median(x)
x=sort(x)
x
med= function(p)
{sort(p)
  return(p[round((length(p)+1)/2)])}
med(x)

##zad7
ggplot(iris,aes(x=Petal.Length, y=Sepal.Length, col=Species))+geom_point(alpha=0.4)

##zad8
tapply(diamonds$price[diamonds$price>1000],diamonds$clarity[diamonds$price>1000], mean)
